.feature-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}
.feature-section-img
{
    flex: 1;
}
.feature-section-img img
{
    width: 100%;
}
.feature-section-content
{
    flex: 1;
    
}
.feature-section-content h2
{
     margin-top: 16px;
      margin-bottom: 20px;
}
.feature-section-content button
{
    margin-top: 24px;
      min-width: 356px;
}


