.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-info {
    flex: 1;
}

.hero-info h1 {
    line-height: 1;
}

.hero-info p {
    margin-top: 28px;
}

.hero-img img {
    flex: 1;
    width: 100%;
}

.btn-container {
    margin-top: 36px;
    display: flex;
    gap: 16px;

    button {
        width: 255px;
    }
}

button {
    padding: 22px 32px;
    font-size: 20px;
    border-radius: 9999px;
}

.btn-create,
.btn-explore {
    background-color: transparent;
    color: white;
    border: 2px solid #9f3ee7;
    cursor: pointer;
    transition: 0.15s background-color;
}

.btn-create:hover,
.btn-explore:hover {
    background-color: #9f3ee7;
}

/* BRAND CSS */
.brand-section {
    margin-top: 160px;
    margin-bottom: 100px;

}

.brand-images {
    height: 100px;
    display: flex;
    align-items: center;
    /* padding: 8px 30px; */
    padding: 9px 0px;
    /* gap: 43px; */
    margin-top: 32px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgba(99, 88, 189, 0.2);
    width: 100%;


}

.brand-images {
    &:first-child {
        height: 100%;
    }

}